<footer class="app-footer">
    <div class="float-end d-none d-sm-inline">Manage your Inventory</div>  <strong>
        Copyright &copy; 
        <a href="#" class="text-decoration-none">Mahfuz</a>.
    </strong>
    All rights reserved.
</footer> 