@model CreateReportModel;
@{
    ViewData["Title"] = "Sale report";
}

<div class="container p-4 border">
    <div class="row pb-2">
        <div class="col">
            <h1 class="text-primary">Sale report</h1>
        </div>
        <div class="col text-end pt-1">
            <a asp-controller="Order" asp-action="SaleOrders" class="btn btn-outline-primary">View sale orders</a>
        </div>
    </div>

    <hr />


    <h5>Generate report</h5>
    <form asp-action="SaleReport" asp-controller="Report" method="post" asp-antiforgery="true">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="row">
            <div class="row">
                <!-- From field -->
                <div class="col-md-4 col-12">
                    <div class="form-group">
                        <label class="control-label">From</label>
                        <input asp-for="SearchFrom" id="searchFrom" type="date"  placeholder="Select a start date" class="form-control" required />
                        <span asp-validation-for="SearchFrom" class="text-danger"></span>

                    </div>
                </div>

                <!-- To field -->
                <div class="col-md-4 col-12">
                    <div class="form-group">
                        <label asp-for="SearchTo" class="control-label">To</label>
                        <input asp-for="SearchTo" id="searchTo" type="date" placeholder="Select an end date" class="form-control" required />
                        <span asp-validation-for="SearchTo" class="text-danger"></span>

                    </div>
                </div>

                <!-- Submit Button -->
                <div class="col-md-4 col-12 d-flex align-items-end">
                    <button type="submit" id="generateReportBtn" class="btn btn-primary w-100">Generate</button>
                </div>

            </div>
        </div>

    </form>

</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {
            $('#generateReportBtn').on('click', function (e) {
                var searchFrom = $('#searchFrom').val();
                var searchTo = $('#searchTo').val();

                        if (!searchFrom || !searchTo) {
                    e.preventDefault(); // Prevent the form from submitting
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Both From and To dates are required!'
                            });
                        }
                    });
                });
    </script>
}

